README.md
*.pdf
*.md
docs/*.pdf
Architecture Starbucks Kubernetes.pdf
Starbucks App Deploy into kubernetes - DevSecOps Realtime enivornment  and Monitoring Project Document.pdf
*.pdf
                                                                                        
